<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2011-2013 Pieter Pareit
Copyright 2009 David Revell

This file is part of SwiFTP.

SwiFTP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SwiFTP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SwiFTP.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ppareit.swiftp"
    android:versionCode="020702"
    android:versionName="2.7.2" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/launcher"
        android:label="@string/swiftp_name"
        android:name="be.ppareit.swiftp.FtpServerApp"
        android:allowBackup="true" >

        <activity android:name="be.ppareit.swiftp.gui.ServerPreferenceActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="be.ppareit.swiftp.FtpServerService" />

        <receiver
            android:name="be.ppareit.swiftp.gui.ServerRunningNotification"
            android:exported="false" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>

        <!-- Don't export this receiver in free, this clashes with paid -->
        <receiver
            android:name="be.ppareit.swiftp.RequestStartStopReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.ACTION_START_FTPSERVER" />
                <action android:name="be.ppareit.swiftp.ACTION_STOP_FTPSERVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:icon="@drawable/launcher"
            android:label="@string/swiftp_name"
            android:name="be.ppareit.swiftp.gui.FsWidgetProvider"
            android:exported="false" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service android:name="be.ppareit.swiftp.gui.FsWidgetProvider$UpdateService" />

    </application>

</manifest>
