<?xml version="1.0" encoding="utf-8"?><!--
Copyright 2011-2017 Pieter Pareit
Copyright 2009 David Revell

This file is part of SwiFTP.

SwiFTP is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SwiFTP is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SwiFTP.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="be.ppareit.swiftp.App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/swiftp_name">

        <activity
            android:name="be.ppareit.swiftp.gui.MainActivity"
            android:theme="@style/AppThemeDark"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.AboutActivity"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppThemeDark" />

        <activity
            android:name=".gui.LogActivity"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppThemeDark" />

        <activity
            android:name=".gui.ManageUsersActivity"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppThemeDark" />

        <service
            android:name="be.ppareit.swiftp.FsService"
            android:foregroundServiceType="connectedDevice" />

        <service android:name="be.ppareit.swiftp.NsdService" />

        <receiver
            android:name="be.ppareit.swiftp.gui.FsWidgetProvider"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/swiftp_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name="be.ppareit.swiftp.gui.FsWidgetProvider$UpdateService"
            android:foregroundServiceType="connectedDevice" />

        <!-- Tasker/Locale integration -->
        <activity
            android:name="be.ppareit.swiftp.locale.EditActivity"
            android:exported="true"
            android:icon="@drawable/widget_on"
            android:label="@string/swiftp_name"
            android:theme="@style/AppThemeDark"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize">
            <!-- this Intent filter allows the plug-in to be discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name="be.ppareit.swiftp.locale.FireReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gui.FsTileService"
            android:icon="@mipmap/ic_qs_ftp_server"
            android:label="@string/swiftp_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

    </application>

</manifest>
